.header {
  // background-color: yellow;
  grid-column: full-start/full-end;

  display: grid;
  grid-template-rows: 17rem;
  grid-template-columns:
    [full-start]minmax(10rem, 1fr) [center-start] repeat(
      12,
      [col-start] 6.5rem [col-end]
    )
    [center-end]minmax(10rem, 1fr) [full-end];
  column-gap: 3rem;

  .logo {
    grid-column: col-start 6 / col-end 7;
    margin: auto;
  }

  .hero {
    grid-column: full-start/full-end;

    display: grid;
    grid-template-columns:
      [full-start]minmax(10rem, 1fr) [center-start] repeat(
        12,
        [col-start] 6.5rem [col-end]
      )
      [center-end]minmax(10rem, 1fr) [full-end];
    column-gap: 3rem;
    align-items: center;

    margin-bottom: 11rem;
    &__img--left {
      grid-column: full-start/col-end 3;
    }

    &__content {
      grid-column: col-start 4 / col-end 9;
      text-align: center;
      //
      &__heading {
        font-size: 6.4rem;
        line-height: 6.4rem;
        font-weight: 900;
        color: $color-black;
        margin-bottom: 3.4rem;
        &--main {
          display: block;
        }
        &--sub {
          display: block;
        }
      }

      &__paragraph {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 2.6rem;
        margin-bottom: 3.2rem;
      }
    }

    &__img--right {
      grid-column: col-start 10 / full-end;
      justify-self: end;
    }
  }

  .page-icon--1 {
    grid-column: col-start 6 / col-end 7;
  }
}
