.btn:link,
.btn:visited {
  font-size: 1.6rem;
  display: inline-block;
  outline: none;
  border: none;
  border-radius: 2.9rem;
  color: white;
  padding: 1.6rem 3rem;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s;
}

.btn {
  &--download {
    &--hero {
      background-color: $color-primary-dark;
      margin-right: 1.6rem;
      @include respond(phone) {
        margin-right: 0;
        margin-bottom: 1.6rem;
      }
      &--ver {
        color: $color-primary-light;
      }
      &:hover,
      &:active {
        background-color: $color-primary-hover;
      }
    }
    &--footer {
      background-color: $color-secondary-dark;
      &:hover,
      &:active {
        background-color: $color-secondary-hover;
      }
      &--ver {
        color: $color-secondary-light;
      }
    }
  }
  &--what {
    background-color: $color-secondary-dark;
    &:hover,
    &:active {
      background-color: $color-secondary-hover;
    }
  }
}
